In [1]:
# Creating a string with my name and printing it

my_name = "YourName"  # Replace "YourName" with your actual name
print("My name is:", my_name)

My name is: YourName

In [3]:
# Finding the length of the string "Hello World"

my_string = "Hello World"
string_length = len(my_string)
print("Length of the string is:", string_length)

Length of the string is: 11

In [5]:
# Slicing the first 3 characters from the string "Python Programming"

my_string = "Python Programming"
sliced_string = my_string[:3]
print("First 3 characters are:", sliced_string)

First 3 characters are: Pyt

In [7]:
# Converting the string "hello" to uppercase

my_string = "hello"
uppercase_string = my_string.upper()
print("Uppercase version:", uppercase_string)

Uppercase version: HELLO

In [9]:
# Replacing the word "apple" with "orange" in the string

my_string = "I like apple"
new_string = my_string.replace("apple", "orange")
print("Updated string:", new_string)

Updated string: I like orange

In [11]:
# Creating a list with numbers 1 to 5 and printing it

my_list = [1, 2, 3, 4, 5]
print("The list is:", my_list)

The list is: [1, 2, 3, 4, 5]

In [13]:
# Appending the number 10 to the list [1, 2, 3, 4]

my_list = [1, 2, 3, 4]
my_list.append(10)
print("Updated list:", my_list)

Updated list: [1, 2, 3, 4, 10]

In [15]:
# Removing the number 3 from the list [1, 2, 3, 4, 5]

my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print("Updated list:", my_list)

Updated list: [1, 2, 4, 5]

In [17]:
# Accessing the second element in the list ['a', 'b', 'c', 'd']

my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print("The second element is:", second_element)

The second element is: b

In [19]:
# Reversing the list [10, 20, 30, 40, 50]

my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print("Reversed list:", my_list)

Reversed list: [50, 40, 30, 20, 10]

In [21]:
# Creating a tuple with the elements 100, 200, 300 and printing it

my_tuple = (100, 200, 300)
print("The tuple is:", my_tuple)

The tuple is: (100, 200, 300)

In [23]:
# Accessing the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print("The second-to-last element is:", second_to_last_element)

The second-to-last element is: blue

In [25]:
# Finding the minimum number in the tuple (10, 20, 5, 15)

my_tuple = (10, 20, 5, 15)
min_value = min(my_tuple)
print("The minimum number is:", min_value)

The minimum number is: 5

In [27]:
# Finding the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index("cat")
print("The index of 'cat' is:", index_of_cat)

The index of 'cat' is: 1

In [29]:
# Creating a tuple containing three different fruits and checking if "kiwi" is in it

fruit_tuple = ('apple', 'banana', 'cherry')
is_kiwi_in_tuple = "kiwi" in fruit_tuple
print("Is 'kiwi' in the tuple?", is_kiwi_in_tuple)

Is 'kiwi' in the tuple? False

In [31]:
# Creating a set with the elements 'a', 'b', 'c' and printing it

my_set = {'a', 'b', 'c'}
print("The set is:", my_set)

The set is: {'a', 'b', 'c'}

In [33]:
# Clearing all elements from the set {1, 2, 3, 4, 5}

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print("The set after clearing all elements:", my_set)

The set after clearing all elements: set()

In [35]:
# Removing the element 4 from the set {1, 2, 3, 4}

my_set = {1, 2, 3, 4}
my_set.remove(4)
print("The set after removing 4:", my_set)

The set after removing 4: {1, 2, 3}

In [37]:
# Finding the union of two sets {1, 2, 3} and {3, 4, 5}

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("The union of the sets is:", union_set)

The union of the sets is: {1, 2, 3, 4, 5}

In [39]:
# Finding the intersection of two sets {1, 2, 3} and {2, 3, 4}

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print("The intersection of the sets is:", intersection_set)

The intersection of the sets is: {2, 3}

In [41]:
# Creating a dictionary with the keys "name", "age", and "city", and printing it

my_dict = {
    "name": "John",
    "age": 25,
    "city": "New York"
}
print("The dictionary is:", my_dict)

The dictionary is: {'name': 'John', 'age': 25, 'city': 'New York'}

In [43]:
# Adding a new key-value pair "country": "USA" to the dictionary

my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print("Updated dictionary:", my_dict)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

In [45]:
# Accessing the value associated with the key "name" in the dictionary

my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict["name"]
print("The value associated with 'name' is:", name_value)

The value associated with 'name' is: Alice

In [47]:
# Removing the key "age" from the dictionary

my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print("Updated dictionary:", my_dict)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

In [49]:
# Checking if the key "city" exists in the dictionary

my_dict = {'name': 'Alice', 'city': 'Paris'}
key_exists = "city" in my_dict
print("Does the key 'city' exist in the dictionary?", key_exists)

Does the key 'city' exist in the dictionary? True

In [51]:
# Creating a list, a tuple, and a dictionary, and printing them

my_list = [1, 2, 3, 4, 5]
my_tuple = ('apple', 'banana', 'cherry')
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'John', 'age': 30, 'city': 'New York'}

In [53]:
# Importing the random module to generate random numbers
import random

# Creating a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sorting the list in ascending order
random_numbers.sort()

# Printing the sorted list
print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [1, 35, 60, 76, 92]

In [55]:
# Creating a list with strings
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Accessing the element at the third index (4th element)
element_at_third_index = my_list[3]
print("The element at the third index is:", element_at_third_index)

The element at the third index is: date

In [57]:
# Creating two dictionaries
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'Paris', 'country': 'France'}

# Combining the two dictionaries
combined_dict = {**dict1, **dict2}

# Printing the combined dictionary
print("Combined dictionary:", combined_dict)

Combined dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

In [59]:
# Creating a list of strings
my_list = ["apple", "banana", "cherry", "apple", "date"]

# Converting the list into a set (removing duplicates)
my_set = set(my_list)

# Printing the set
print("The set is:", my_set)

The set is: {'banana', 'date', 'cherry', 'apple'}